---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: downloads-gateway
  namespace: vpn
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.0
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.8.1@sha256:690b6365728fe9012ad4cdfca38334992664596513dca187d1b93d2025205776

    DNS: 172.16.0.1

    routed_namespaces:
      - downloads

    publicPorts:
      - hostname: qbittorrent # hostname assigned to the pod
        IP: 10 # must be an integer between 2 and VXLAN_GATEWAY_FIRST_DYNAMIC_IP (20 by default)
        ports:
          - type: udp
            port: 58182
          - type: tcp
            port: 58182

    settings:
      VPN_INTERFACE: wg0
      VXLAN_ID: 43
      VXLAN_IP_NETWORK: 172.16.0
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_TRAFFIC_PORT: 51820
      VPN_LOCAL_CIDRS: "10.0.0.0/8 192.168.0.0/16 172.16.0.0/12"
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 192.168.0.0/16 172.16.0.0/12"

    webhook:
      image:
        repository: ghcr.io/k8s-at-home/gateway-admision-controller
        tag: v3.6.0

      gatewayDefault: false
      gatewayLabel: setGateway
      gatewayAnnotation: setGateway

    podAnnotations:
      secret.reloader.stakater.com/reload: downloads-gateway-vpnconfig

    addons:
      netshoot:
        enabled: true

      vpn:
        enabled: true
        type: wireguard

        wireguard:
          image:
            repository: ghcr.io/k8s-at-home/wireguard
            tag: v1.0.20210914
            pullPolicy: IfNotPresent

        env:
          - name: TZ
            value: "Europe/Copenhagen"
          - name: KILLSWITCH
            value: false
          - name: IPTABLES_BACKEND
            value: nft

        securityContext:
          runAsUser: 568
          runAsGroup: 568
          capabilities:
            drop:
              - SYS_MODULE

        configFileSecret: downloads-gateway-vpnconfig

        networkPolicy:
          enabled: true

          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                # VPN traffic port - change if your provider uses a different port
                - port: 51820
                  protocol: UDP
            - to:
                - namespaceSelector: {}
