apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-volume
  labels:
    type: local
spec:
  storageClassName: media
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/sdb"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-claim
spec:
  storageClassName: media
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: jellyfin
      version: 2.0.0
      sourceRef:
        kind: HelmRepository
        name: jellyfin
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    persistence:
      data:
        enabled: true
        isPvc: true
        existingClaim: "media-claim"
        storageClass: "media"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          jellyfin.io/enable: "false"
        hosts:
          - host: &host "jellyfin.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
